/* Sidebar Icons */
.sidebar-link[data-icon="fa-house"]::before { content: "\f015"; color:white;} /* FontAwesome Unicode */
.sidebar-link[data-icon="fa-users"]::before { content: "\f0c0"; color: white;}
.sidebar-link[data-icon="fa-file-alt"]::before { content: "\f15c"; color: white;}



/* User Form Styling */
.main-content {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}


.user-form {
    background: rgb(200, 16, 46);
    padding: 30px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
    color: white;
    margin-top: 120px;


}

.user-form label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
}

.user-form input, .user-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #444;
    border-radius: 5px;
    background: white;
    color: black;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

.user-form input:focus, .user-form select:focus {
    outline: none;
    border-color: rgba(169, 62, 228, 0.81);
    box-shadow: 0 2px 5px rgba(169, 62, 228, 0.5);
    transform: scale(1.02);
}

.btn-submit {
    background: rgb(136, 139, 141);
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    display: block;
    width: 100%;
    text-align: center;
    transition: transform 0.3s ease-in-out;
}

.btn-submit:hover {
    background: rgb(84,88,90);
    transform: scale(1.05);
    cursor: pointer;
}

.btn-back {
    background: #6c757d;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background 0.3s ease;
}

.btn-back:hover {
    background: #5a6268;
    transform: scale(1.05);
}

