{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <script src="https://kit.fontawesome.com/542cb8b844.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <!-- Navbar -->
    <nav class="navbar">

        <div class="navbar-content">

            <i id = "notifications_icon" class="fa-regular fa-bell"></i>
            <i id = "settings_icon" class="fa-solid fa-gear"></i>

            <div class = "navbar_user">
                <img class = "profile_picture" src="{% static 'images/default_profile.png' %}" alt="profile picture">
                <span class = "navbar_username">{{ user.first_name }} {{ user.last_name }}</span>
            </div>
        </div>
    </nav>

    <!-- Sidebar -->
    <div class="sidebar">

        <div class = "logoContainer">
            <img class = "logo" src="{% static 'images/logo1.png' %}" alt="logo">
        </div>

        <div class="sidebar-content">
            <i id = "homeicon" class="fa-solid fa-house"></i>
            <i id = "usersicon" class="fa-solid fa-users"></i>
            <a href="{% url 'dashboard' %}">Dashboard</a>
            <a href="{% url 'user_list' %}">Users</a>
        </div>

        <div class="logout-container">
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
            <i id = "logoutIcon" class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>

    </div>

    <!-- Main content -->
    <div class="main-content">
        <h1>Dashboard</h1>
        <h2> Welcome, {{ user.first_name }} {{ user.last_name }}</h2>

        <div class="card-container">
            <!-- Admin Count Card -->
            <div class="card admin-card">
                <h3 class="card-title">Admins</h3>
                <h2>{{ admin_count }}</h2>
            </div>

            <!-- Moderator Count Card -->
            <div class="card moderator-card">
                <h3 class="card-title">Moderators</h3>
                <h2>{{ moderator_count }}</h2>
            </div>

            <!-- User Count Card -->
            <div class="card customer-card">
                <h3 class="card-title">Users</h3>
                <h2>{{ user_count }}</h2>
            </div>

        </div>
        <!-- End of Card Container -->
    </div>

</body>
</html>

