{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thunder Bay | Edit Profile</title>
    <link  rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script src="https://kit.fontawesome.com/542cb8b844.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=League+Gothic&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-content">

        <!-- Notifications Icon -->
        <i id="notifications_icon" class="fa-regular fa-bell"></i>

<!-- Settings Dropdown -->
<div class="dropdown-wrapper">
    <i id="settings_icon" class="fa-solid fa-gear"></i>
    <div class="dropdown-menu settings-menu">
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
        <a href="{% url 'account_settings' %}">Account Settings</a>
        <a href="{% url 'privacy_security' %}">Privacy & Security</a>
        <a href="{% url 'logout' %}">Log Out</a>
    </div>
</div>


<!-- User Profile Dropdown -->
<div class="dropdown-wrapper">
    <div class="navbar_user">
        {% if user.profile_picture %}
            <img class="profile_picture" src="{{ user.profile_picture.url }}" alt="profile picture">
        {% else %}
            <img class="profile_picture" src="{% static 'images/default_profile.png' %}" alt="Default profile picture">
        {% endif %}
        <span class="navbar_username">{{ user.first_name }} {{ user.last_name }}</span>
    </div>
    <div class="dropdown-menu profile-menu">
        {% if user.profile_picture %}
            <img class="profile-picture-large" src="{{ user.profile_picture.url }}" alt="profile picture">
        {% else %}
            <img class="profile-picture-large" src="{% static 'images/default_profile.png' %}" alt="Default profile picture">
        {% endif %}
        <p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
        <p class="user-role">{{ user.role|capfirst }}</p>
        <p class="user-email">{{ user.email }}</p>
        <a href="{% url 'user_profile' user.id %}">View Profile</a>
    </div>
</div>



    </div>
</nav>
        <!-- Sidebar -->
    <div class="sidebar">

        <div class = "logoContainer">
            <img class = "logo" src="{% static 'images/logo2.png' %}" alt="logo">
        </div>

    <div class="sidebar-content">
        <a href="{% url 'dashboard' %}" class="sidebar-link" data-icon="fa-house">Dashboard</a>
        <a href="{% url 'user_list' %}" class="sidebar-link" data-icon="fa-users">Users</a>
        <a href="{% url 'approval_requests' %}" class="sidebar-link" data-icon="fa-file-alt">Forms</a>
    </div>

        <div class="logout-container">
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
            <i id = "logoutIcon" class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>

    </div>






    <!-- Main content -->
    <div class="main-content">

    <form method="POST" enctype="multipart/form-data" class="profile-edit-form">
        {% csrf_token %}

<!-- Banner Display & Upload -->
<div class="profile-banner banner-edit">
    {% if user_profile.profile_banner %}
        <img id="banner-preview" class="banner-image" src="{{ user_profile.profile_banner.url }}" alt="Profile Banner">
    {% else %}
        <img id="banner-preview" class="banner-image" src="{% static 'images/default_banner.jpg' %}" alt="Default Banner">
    {% endif %}

    <label class="upload-banner-label" for="banner-picture-input">
        Upload New Banner
        <input type="file" name="profile_banner" id="banner-picture-input">
        <small>Recommended size: 1600 x 240px</small>
    </label>
</div>



        <div class="profile-info-card">

            <!-- Profile Picture Upload -->
            <div class="profile-picture-edit">
                {% if user_profile.profile_picture %}
                    <img class="profile-picture-large" src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
                {% else %}
                    <img class="profile-picture-large" src="{% static 'images/default_profile.png' %}" alt="Default Profile">
                {% endif %}
                <label class="upload-profile-label">
                    Upload New Picture
                    {{ form.profile_picture }}
                </label>
            </div>

            <!-- Editable Fields -->
            <div class="form-fields">
                <label>Major</label>
                {{ form.major }}

                <label>College</label>
                {{ form.college }}

                <label>Academic Level</label>
                {{ form.academic_level }}

                <label>Bio</label>
                {{ form.bio }}
            </div>

            <!-- Submit -->
            <button type="submit" class="submit-btn">Save Changes</button>
        </div>
    </form>



    </div>
</body>
</html>