{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thunder Bay | {{ user_profile.first_name }} {{ user_profile.last_name }}</title>
    <link  rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
    <script src="https://kit.fontawesome.com/542cb8b844.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=League+Gothic&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">

</head>
<body>

<!-- Navbar -->
<nav class="navbar">
    <div class="navbar-content">

        <!-- Notifications Icon -->
        <i id="notifications_icon" class="fa-regular fa-bell"></i>

<!-- Settings Dropdown -->
<div class="dropdown-wrapper">
    <i id="settings_icon" class="fa-solid fa-gear"></i>
    <div class="dropdown-menu settings-menu">
        <a href="{% url 'edit_profile' %}">Edit Profile</a>
        <a href="{% url 'account_settings' %}">Account Settings</a>
        <a href="{% url 'privacy_security' %}">Privacy & Security</a>
        <a href="{% url 'logout' %}">Log Out</a>
    </div>
</div>


<!-- User Profile Dropdown -->
<div class="dropdown-wrapper">
    <div class="navbar_user">
        {% if user.profile_picture %}
            <img class="profile_picture" src="{{ user.profile_picture.url }}" alt="profile picture">
        {% else %}
            <img class="profile_picture" src="{% static 'images/default_profile.png' %}" alt="Default profile picture">
        {% endif %}
        <span class="navbar_username">{{ user.first_name }} {{ user.last_name }}</span>
    </div>
    <div class="dropdown-menu profile-menu">
        {% if user.profile_picture %}
            <img class="profile-picture-large" src="{{ user.profile_picture.url }}" alt="profile picture">
        {% else %}
            <img class="profile-picture-large" src="{% static 'images/default_profile.png' %}" alt="Default profile picture">
        {% endif %}
        <p><strong>{{ user.first_name }} {{ user.last_name }}</strong></p>
        <p class="user-role">{{ user.role|capfirst }}</p>
        <p class="user-email">{{ user.email }}</p>
        <a href="{% url 'user_profile' user.id %}">View Profile</a>
    </div>
</div>



    </div>
</nav>


        <!-- Sidebar -->
    <div class="sidebar">

        <div class = "logoContainer">
            <img class = "logo" src="{% static 'images/logo2.png' %}" alt="logo">
        </div>

    <div class="sidebar-content">
        <a href="{% url 'dashboard' %}" class="sidebar-link" data-icon="fa-house">Dashboard</a>
        <a href="{% url 'user_list' %}" class="sidebar-link" data-icon="fa-users">Users</a>
        <a href="{% url 'approval_requests' %}" class="sidebar-link" data-icon="fa-file-alt">Forms</a>
    </div>

        <div class="logout-container">
            <a href="{% url 'logout' %}" class="logout-btn">Logout</a>
            <i id = "logoutIcon" class="fa-solid fa-arrow-right-from-bracket"></i>
        </div>

    </div>






    <!-- Main content -->
    <div class="main-content">


    <!-- Banner -->
    <div class="profile-banner">
        {% if user_profile.profile_banner %}
            <img src="{{ user_profile.profile_banner.url }}" alt="Banner" class="banner-image">
        {% else %}
            <img src="{% static 'images/default_banner.jpg' %}" alt="Default Banner" class="banner-image">
        {% endif %}

        <div class="profile-picture-container">
            {% if user_profile.profile_picture %}
                <img class="profile-picture-large" src="{{ user_profile.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <img class="profile-picture-large" src="{% static 'images/default_profile.png' %}" alt="Default Profile Picture">
            {% endif %}
        </div>
    </div>


    <!-- Info Card -->
    <div class="profile-info-card">
        <h1>{{ user_profile.first_name }} {{ user_profile.last_name }}</h1>
        <p class="user-role">{{ user_profile.get_role_display }}</p>
        <p class="user-email">{{ user_profile.email }}</p>

        <div class="user-details">
            {% if user_profile.unit %}
                <p><strong>Major:</strong> {{ user_profile.unit.name }}</p>
                {% if user_profile.unit.parent %}
                    <p><strong>College:</strong> {{ user_profile.unit.parent.name }}</p>
                {% endif %}
            {% endif %}

            {% if user_profile.academic_level %}
                <p><strong>Academic Level:</strong> {{ user_profile.get_academic_level_display }}</p>
            {% endif %}
            {% if user_profile.cougar_id %}
                <p><strong>Cougar ID:</strong> {{ user_profile.cougar_id }}</p>
            {% endif %}
            {% if user_profile.bio %}
                <p><strong>Bio:</strong> {{ user_profile.bio }}</p>
            {% endif %}
        </div>

        <div class="profile-completion-section">
            <label>Profile Completion</label>
            <div class="progress-bar">
                <div class="progress" style="width: {{ completion_percent }}%;"></div>
            </div>
            <span>{{ completion_percent }}% complete</span>
        </div>
    </div>



    </div>
</body>
</html>