{%load  static%}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#06aa5e">
    <meta name="msapplication-navbutton-color" content="#06aa5e">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Sign up | Thunder Bay</title>
    <link  rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">
    <link href="https://fonts.googleapis.com/css2?family=Crimson+Pro:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=League+Gothic&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="" type="image/x-icon">
    <script src="https://kit.fontawesome.com/542cb8b844.js"></script>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>





<body>
    <main class="card-container slideUp-animation">

    <!-- Left-Side Content -->
        <div class="image-container">
            <img src = "{% static 'images/logo.png' %}" class="logo" alt="logo">

            <!-- <img src="{% static 'images/bg7.jpg' %}" class="illustration" alt=""> -->

            <p class="quote">Lightning-Fast User Management.</p>

            <a href = "{% url 'login' %}" class="back-btn">
               <i id = "back-icon" class="fa-solid fa-left-long"></i>
            </a>
        </div>





    <!-- Right-Side Content -->
        <form action="{% url 'signup' %}" method="POST">
    {% csrf_token %}


            <div class="form-container slideRight-animation">

                                <!-- Display Django messages here -->
{% if messages %}
    <div class="messages">
        <ul>
            {% for message in messages %}
                <li class="message {% if message.tags %}{{ message.tags }}{% endif %}">{{ message }}</li>
            {% endfor %}
        </ul>
    </div>
{% endif %}
                <h1 class="form-header">
                    Get started
                </h1>

                                    <!-- Form Inputs -->
                <div class="input-container">
            <input type="text" name="f-name" id="f-name" required>
            <span>First name</span>
                </div>

                <div class="input-container">
                    <input type="text" name="l-name" id="l-name" required>
                    <span>Last name</span>
                </div>

                <div class="input-container">
                    <input type="email" name="mail" id="mail" required>
                    <span>E-mail</span>
                </div>

                <div class="input-container">
                    <input type="text" name="cougar_id" id="cougar_id" maxlength="7" required pattern="\d{7}">
                    <span>Cougar ID</span>
                </div>

                <div class="input-container">
                    <select name="academic_level" id="academic_level" required>
                        <option value="">Select Academic Level</option>
                        <option value="undergraduate">Undergraduate</option>
                        <option value="graduate">Graduate</option>
                    </select>
                </div>

                <!-- College Dropdown -->
                <div class="input-container">
                    <select name="college" id="college-select" required>
                        <option value="">Select College</option>
                        {% for college in colleges %}
                            <option value="{{ college.id }}">{{ college.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Major Dropdown -->
                <div class="input-container">
                    <select name="unit" id="major-select" name="unit" required disabled>
                        <option value="">Select Your Major</option>
                        {% for major in majors %}
                            <option value="{{ major.id }}" data-parent="{{ major.parent.id }}">{{ major.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="input-container">
                    <input type="password" name="user-password" id="user-password" required>
                    <span>Password</span>
                </div>

                <div class="input-container">
                    <input type="password" name="user-password-confirm" id="user-password-confirm" required>
                    <span>Confirm Password</span>
                </div>


                                <!-- Submit Button -->
                <div id="btm">
                    <button type="submit" class="submit-btn">Create Account</button>
                    <p class="btm-text">
                        Already have an account..? <a class="btm-text-highlighted" href="{% url 'login' %}">    Login</a>
                    </p>
                </div>
            </div>
        </form>
    </main>


<script src="{% static 'javascript/dependent_dropdown.js' %}"></script>
</body>
</html>